---
import "../styles/global.css"
import SiteOptions from "../site.config.mjs"
import { ThemeScript } from "astro-theme-toggle/components"
import Header from "../components/Header.astro"
//import Footer from "../components/Footer.astro";
import Pagefind from "../components/PageFind.astro"
// 1. Import the SVG file. Astro will process this asset.
import backgroundImg from '../assets/background.svg';

// 2. Define a CSS variable with the optimized image URL
const backgroundUrl = `url(${backgroundImg.src})`;

export interface Props {
  title: string
  description?: string
}

const { title = SiteOptions.siteTitle, description = SiteOptions.siteSubTitle } = Astro.props
---

<!doctype html>
<html lang="en" class="w-full h-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:site_name" content={SiteOptions.siteTitle} />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <!-- PageFind -->
    <link href="/pagefind/pagefind-ui.css" rel="stylesheet" />
    <script is:inline type="module" src="/pagefind/pagefind.js"></script>
    <script is:inline type="module" src="/pagefind/pagefind-ui.js"></script>
    <title>{title}</title>
    <ThemeScript />

    {SiteOptions.gTag && (
      <script
        data-category="analytics"
        is:inline
        type="text/partytown"
        src={`https://www.googletagmanager.com/gtag/js?id=${SiteOptions.gTag}`}
      ></script>

      <script data-category="analytics" is:inline type="text/partytown" define:vars={{gTag: SiteOptions.gTag}}>
        // @ts-nocheck
        window.dataLayer = window.dataLayer || [];
        function gtag() {
          dataLayer.push(arguments);
        }
        gtag("js", new Date());

        gtag("config", gTag);
      </script>
    )}
  </head>

  <body class="bg-white text-gray-900 dark:bg-slate-900 dark:text-slate-200 transition-colors duration-300 min-h-full w-full">
    <!-- <div class="w-full bg-black h-3"></div> -->

    <!-- <div class="max-w-[1100px] mx-auto px-4 w-full"> -->
     <div class="mx-auto px-4 w-full">
      <Header />
    </div>

    <!-- <main class={`max-w-[1100px] mx-auto px-4`}> -->
    <main class={`mx-auto px-4 w-full`}>
      <slot />
    </main>
    <Pagefind />
    <!-- <Footer /> -->

    <!-- <script is:inline src="/scripts/theme-toggle.js"></script> -->
  </body>
</html>

<style>
  @view-transition {
    navigation: auto;
  }
</style>
<style define:vars={{ backgroundUrl }}>
  /* 3. Reference the CSS variable in your style rules */
  body {
    background-image: var(--backgroundUrl);
    background-repeat: repeat;
    background-size: auto;
    /* Add other background styles as needed */
  }
</style>
